$sunny-section-dark: #1e94fe;
$sunny-section-light: #49aeff;
$sunny-section-lighter: #5bb8fe;
$night-section-blue: #2d63f6;
$night-section-blue-light: #5f6cec;
$night-section-purple: #8073e3;
$night-section-purple-light: #b981da;
$rainy-section-dark: #04bea6;
$rainy-section-light: #23cea4;
$rainy-section-lighter: #47dfa4;
$rainy-section-lightest: #6ef1a4;
$sun-rays1: #a0d7fe;
$sun-rays2: #aadbfa;
$sun-rays-light1: #7ec8ff;
$sun-rays-light2: #a7dbff;
$background-color: rgb(37, 36, 36);
@mixin size($height, $width) {
  height: $height;
  width: $width;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input {
  outline: none;
  padding: 15px;
  border-radius: 50px 50px;
  border: 0;
  width: 100%;
}
button {
  outline: none;
  padding: 15px 40px;
  border-radius: 50px 50px;
  border: 0;
  background-color: #cdb4db;
  &:hover {
    cursor: pointer;
  }
}

.search-container {
  display: flex;
  width: 35%;
  gap: 5px;
}
.container {
  @include size(100vh, 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  background-color: $background-color;
}

.section {
  width: 37vw;
  height: 18vh;
  padding: 30px 40px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.heading {
  font-size: 22px;
}

.content {
  display: flex;
  flex-direction: row;
}

hr {
  width: 3px;
  background-color: white;
  border: none;
  border-radius: 50%;
  margin-top: 5px;
}

.place-detail {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.temperature {
  font-size: 52px;
  padding-right: 10px;
}

.location {
  width: 10px;
}

// --------------------------------------

.sunny-section {
  background: linear-gradient(
    to right,
    $sunny-section-dark,
    $sunny-section-light,
    $sunny-section-lighter
  );

  .night,
  .rainy,
  .rain {
    display: none;
  }
}

.sun {
  @include size(180px, 180px);
  position: absolute;
  background: linear-gradient(
    to right,
    #ffd048,
    #fee06d,
    #fef8a4,
    #fefbaa,
    #fef69e
  );
  border-radius: 50%;
  transform: rotate(-65deg);
  right: -15%;
  top: -50%;
  z-index: 3;
}

.sun-rays {
  @include size(250px, 250px);
  position: absolute;
  background: linear-gradient(to right, $sun-rays1, $sun-rays2);
  border-radius: 50%;
  right: -19%;
  top: -66%;
  z-index: 2;
}

.sun-rays-light {
  @include size(320px, 320px);
  position: absolute;
  background: linear-gradient(to right, $sun-rays-light1, $sun-rays-light2);
  filter: blur(2px);
  border-radius: 50%;
  right: -23%;
  top: -90%;
  z-index: 1;
}

// night section

.night-section {
  background: linear-gradient(
    to right,
    $night-section-blue,
    $night-section-blue-light,
    $night-section-purple,
    $night-section-purple-light
  );

  .sunny,
  .rainy {
    display: none;
  }

  .drew {
    display: block;
    border-radius: 100%;
    @include size(8px, 8px);
    background-color: #fff5;
    opacity: 0.7;
    box-shadow: 0 0 8px white;
    margin-bottom: 35px;
  }

  .drew-small {
    width: 5px;
    height: 5px;
  }
}

.moon {
  position: absolute;
  right: -1%;
  top: 5%;
  @include size(60px, 60px);
  border-radius: 50%;
  background: radial-gradient(
    circle at 76% 27%,
    rgba(81, 60, 63, 0) 34px,
    rgb(255, 177, 5) 30px,
    rgb(199, 193, 128) 70px
  );
}

.cloud {
  position: absolute;
  right: -1%;
  top: -4%;
  width: 150px;
}

// rainy section

.rainy-section {
  background: linear-gradient(
    to right,
    $rainy-section-dark,
    $rainy-section-light,
    $rainy-section-lighter,
    $rainy-section-lightest
  );

  .sunny,
  .night {
    display: none;
  }

  .rain-drop {
    height: 20px;
    margin-bottom: 25px;
    opacity: 0.14;
  }
}

.rainy-cloud {
  position: absolute;
  right: -1%;
  top: -20%;
  width: 150px;
}

.thunder {
  position: absolute;
  right: 10%;
  top: 62%;
  height: 40px;
}

.rain {
  transform: rotate(30deg);
  position: absolute;
}

.drop {
  display: block;
  @include size(16px, 5px);
  border-radius: 10px 15px 15px 10px;
  background-color: #fff;
  margin-bottom: 15px;
  opacity: 0.5;
}

.rain-drop1 {
  top: 5%;
  right: 40%;
}

.rain-drop2 {
  top: 38%;
  right: 39%;
}

.rain-drop3 {
  top: 0;
  right: 32%;
}

.cloud-drop1 {
  top: 59%;
  right: 8%;
}

.cloud-drop2 {
  top: 59%;
  right: 18%;
}

.cloud-drop3 {
  top: 59%;
  right: 25%;
}
